apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{include "my-flask-app.fullname"}}
spec:
  replica: 1
  selector:
    matchLabels:
      app: my-flask-app
  template: 
    metadata:
      labels:
        app: my-flask-app
    spec:
      containers:
        - name: my-flask-app
          image: "{{.Values.image.repository}}:{{.Values.image.tag}}"
          imagePullPolicy: {{.Values.image.pullPolicy}}
          ports:
            - containerPort: 5000